page-login {

  ion-card{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 100px !important;
    width: 100% !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
  }

  .centered{
    margin: auto;
  }
  .scroll-content {
    background-color: #488aff;
    padding: 10px 0 10px 0;
    /*display: flex;
    flex-direction: column;
    overflow: hidden;*/
  }

  ion-item{
    border-radius: 0px !important;
  }

  img {
    width: 35%;
    height: auto;
    margin: 0 auto;
  }

  #cloud-layer {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }


  ion-list {
    margin: 0;
  }

  .login-button {
    width: 100%;
    border-radius: 30px;
    font-size: 0.9em;
    border: 1px solid #fff;
    background-color: #39acdc;
  }

}
