<ion-content>

  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col>
          <img src="assets/logo.svg"/>
          <h1>OCR<br><small>Test</small></h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label><ion-icon name="md-person"></ion-icon> &nbsp;&nbsp; Email</ion-label>
              <ion-input type="text" [(ngModel)]="session.user"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label><ion-icon name="md-key"></ion-icon> &nbsp;&nbsp; Password</ion-label>
              <ion-input type="password" [(ngModel)]="session.password"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-fab color="primary" class="centered" (click)="login()"><ion-icon name="md-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
