<ion-header>
  <ion-navbar>
    <ion-title>Informar gasto</ion-title>

    <ion-buttons end class="buttons">
      <button ion-button small (click)='save();'>
        GUARDAR
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list inset>
        <ion-item>
          <ion-label>Titulo</ion-label>
          <ion-input type="text" [(ngModel)]="report.title" text-right></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list inset>

        <div *ngFor="let e of expenses">
          <ion-item *ngIf="!e.reportID">
            <ion-label text-right>{{ e.description }} - <span class="green">${{ e.amount }}</span></ion-label>
            <ion-checkbox color="dark" [(ngModel)]="e.reported"></ion-checkbox>
          </ion-item>
        </div>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list inset>
        <ion-item>
          <ion-label>Nota</ion-label>
          <ion-input type="text" text-right [(ngModel)]="report.note"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>


