page-home {
  .buttons{
    margin: 0px 6px 0px 6px;
  }

  .fab.fab-md{
    .fab-close-icon.icon.icon-md.ion-md-close{
      margin-top: 7px !important;
    }
  }

  img{
    width: 60px !important;
    height: 60px !important;
  }

  .resolved{
    display: none;
  }

  .green{
    color: #2cd383;
    font-weight: bold;
  }

  .display-table{
    display: table;
  }

  .middle{
    display: table-cell;
    vertical-align: middle;
  }

  .no-padding-bottom{
    padding-bottom: 0px !important;
  }
}
