<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Gastos</ion-title>
    <!--<ion-buttons end class="buttons">
      <button ion-button icon-only (click)='add();'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar" class="no-padding-bottom"></ion-searchbar>

  <ion-card *ngFor="let e of expenses" (click)="details(e);" >
    <ion-card-content color="gray" *ngIf="!e.reported">
      <ion-grid>
        <ion-row class="display-table">
          <ion-col col-3 class="middle">
            <img src="{{ e.image }}" alt="">
          </ion-col>
          <ion-col col-6 class="middle">
            {{ e.description }} <br>
            {{ e.date }} <br>
            {{ e.category }}
          </ion-col>
          <ion-col col-3 text-right class="middle green"><b>${{ e.amount }}</b></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)='addReport();'><ion-icon name="md-paper"></ion-icon></button>
      <button ion-fab (click)='addExpense();'><ion-icon name="md-document"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


