<ion-header>
  <ion-navbar>
    <ion-title>Nuevo Gasto</ion-title>

    <ion-buttons end class="buttons">
      <button ion-button small (click)='save();'>
        GUARDAR
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="image" class="{{ adjust }}"/>
    <ion-card-content>
      <ion-card-title text-center>

        <ion-grid>
          <ion-row>
            <ion-col><button ion-fab (click)="action()"><ion-icon name="add"></ion-icon></button></ion-col>
            <ion-col text-right><button ion-fab color="light" style="float:right;" (click)="getData()"><ion-icon name="md-arrow-down"></ion-icon></button></ion-col>
          </ion-row>
        </ion-grid>
        <div class="mini-text">{{ status }}</div>
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-list inset>

        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-input type="text" [(ngModel)]="expense.description" text-right></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>No. Ticket</ion-label>
          <ion-input type="text" [(ngModel)]="expense.ticket" text-right></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Proveedor</ion-label>
          <ion-input type="text" [(ngModel)]="expense.provider" text-right></ion-input>
        </ion-item>

        <ion-item class="custom-select">
          <ion-label>Fecha</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="expense.date"></ion-datetime>
        </ion-item>

        <ion-item class="custom-select">
          <ion-label>Moneda</ion-label>
          <ion-select [(ngModel)]="expense.currency">
            <ion-option value="clp">CLP</ion-option>
            <ion-option value="ars">ARS</ion-option>
            <ion-option value="usd">USD</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Total</ion-label>
          <ion-input type="number" [(ngModel)]="expense.amount" text-right></ion-input>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-list inset>

        <ion-item class="custom-select">
          <ion-label>Categoria</ion-label>
          <ion-select [(ngModel)]="expense.category">

            <ion-option value="Transporte">Transporte</ion-option>
            <ion-option value="Negocios">Negocios</ion-option>
            <ion-option value="Capacitaciones">Capacitaciones</ion-option>
            <ion-option value="Especiales">Especiales</ion-option>
            <ion-option value="Librería">Librería</ion-option>
            <ion-option value="Oficina">Oficina</ion-option>
            <ion-option value="Otros">Otros</ion-option>

          </ion-select>
        </ion-item>

        <ion-item class="custom-select">
          <ion-label>Centro de Costos</ion-label>
          <ion-select [(ngModel)]="expense.ccoo">

            <ion-option value="Finanzas">Finanzas</ion-option>
            <ion-option value="RRHH">RRHH</ion-option>
            <ion-option value="Administracion">Administracion</ion-option>
            <ion-option value="Operaciones">Operaciones</ion-option>
            <ion-option value="Investigacion">Investigacion</ion-option>

          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Nota</ion-label>
          <ion-input type="text" text-right [(ngModel)]="expense.note"></ion-input>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>

<div class="{{ preload }}"></div>


