page-reports {
  div.false{
    background-color: #ff3c40 !important;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 20px;
  }
  div.true{
    background-color: #3adea5 !important;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 20px;
  }
  div.null{
    background-color: #46a7f5;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 20px;
  }

  span.true{
    color: #3adea5 !important;
    font-weight: bold;
  }
  span.false{
    color: #ff3c40 !important;
    font-weight: bold;
  }
  span.null{
    color: #46a7f5;
    font-weight: bold;
  }













  .green{
    color: #2cd383;
    font-weight: bold;
  }

  .list-md ion-item-options{
    border-width: 0px !important;
  }

  ion-item-sliding .label.label-md{
    margin: 0px 0px 0px 0px !important;
  }

  ion-item-sliding .item-inner{
    padding: 0px !important;
  }

  ion-item-sliding ion-item{
    padding: 0px !important;
  }

  .display-table{
    display: table;
  }

  .middle{
    display: table-cell;
    vertical-align: middle;
  }
}
