<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Informes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <div *ngFor="let r of reports">
          <ion-item-sliding *ngIf="r.user" #slidingItem>

            <ion-item (click)="details(r);">
              <ion-grid>
                <ion-row class="display-table">
                  <ion-col col-auto class="middle">
                    <div class="null {{ r.approved }}"></div>
                  </ion-col>
                  <ion-col class="middle">
                    {{ r.title }}<br>
                    <small>
                      {{ r.user }}<br>
                      23-23-1223
                    </small>
                  </ion-col>
                  <ion-col col-auto class="middle">
                    <span class="null {{ r.approved }}" text-right>${{ r.total }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item-options side="right">
              <button ion-button icon-only color="secondary" (click)="approve(r, true, slidingItem);">
                <ion-icon name="md-checkmark"></ion-icon>
              </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button icon-only color="danger" (click)="approve(r, false, slidingItem);">
                <ion-icon name="md-close"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
