// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content{
  background: rgb(240, 240, 243) !important;
}

img.user{
  width: 60px;
  height: 60px;
  border-radius:100px;
}

.display-table{
  display: table;
}

.middle{
  display: table-cell;
  vertical-align: middle;
}

.list-md .item-block .item-inner{
  border-style: none !important;
}

.item-md .item-block .item-inner{
  border-style: none !important;
}

.m-r{
  margin-right: 10px !important;
}

ion-menu .header-md::after{
  background-image: none;
}

.light-gray{
  background-color: #f0f0f3 !important;
  color: #040a0f !important;
}
