<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-row class="display-table">
          <ion-col col-5 class="middle">
            <img src="assets/male.svg" class="user">
          </ion-col>
          <ion-col col-7 class="middle">
            {{ user.user }}<br>
            <small>{{ user.email }}@{{ user.email }}.com</small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item class="light-gray">
        MENU
      </button>

      <button menuClose ion-item icon-start *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}" class="m-r"></ion-icon>
        {{p.title}}
        <ion-badge item-end *ngIf="p.badge">{{ p.badge }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
