<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ report.title }} <small>- {{ report.user }}</small></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let e of report.expenses" (click)="details(e);" >
    <ion-card-content color="gray">
      <ion-grid>
        <ion-row class="display-table">
          <ion-col col-3 class="middle">
            <img src="{{ e.image }}" alt="">
          </ion-col>
          <ion-col col-6 class="middle">
            {{ e.description }} <br>
            {{ e.date }} <br>
            {{ e.category }}
          </ion-col>
          <ion-col col-3 text-right class="middle green"><b>${{ e.amount }}</b></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
