<ion-header>
  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="expense.image" class="{{ adjust }}"/>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-label><b>No. Ticket</b></ion-label>
          <ion-label text-right><b>{{ expense.ticket }}</b></ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-label text-right>{{ expense.description }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Proveedor</ion-label>
          <ion-label text-right>{{ expense.provider }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-label text-right>{{ expense.date }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Moneda</ion-label>
          <ion-label text-right>{{ expense.currency }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><b>Total</b></ion-label>
          <ion-label text-right><b>${{ expense.amount }}</b></ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-label text-right>{{ expense.category }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Centro de Costos</ion-label>
          <ion-label text-right>{{ expense.ccoo }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Nota</ion-label>
          <ion-label text-right>{{ expense.note }}</ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>



