page-details {
  .m-r-10{
    margin-right: 10px;
  }
  .custom-select{
    padding-left: 0;
    padding-right: 0;
  }
  .buttons{
    margin: 0px 6px 0px 6px;
  }
  .adjust{
    height: 430px;
  }
  .mini-text{
    font-size: 12px;
  }
  .default{
    width: 40%;
    margin: 30% 0 30% 30%;
  }

  .custom-preload{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,.4);
  }
}
